body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.main {
    width: 800px;
    margin: auto;
    background-color: rgb(110,210,235);
    text-align: center;
    padding: 10px 50px;
}

h1, h2, .clock {
    color: rgb(255,255,255);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card {
    flex: 16%;
    margin: 10px;
    border-radius: 10px;
    line-height: 10rem;  
    user-select: none;  
    cursor: pointer;
    background-image: url("../img/card-back.png");
    color: rgb(0,0,0,);
}
   

.card--face {
    flex: 16%;
    margin: 10px;
    border-radius: 10px;
    line-height: 10rem;  
    user-select: none;  
    cursor: pointer;
    background-image: none;
    background-color: rgb(255,255,255);
    color: rgb(0,0,0,);
}